body {
    background-color: #ddd;
}
.site_container {
    font-family: sans-serif;
    margin-right: 10%;
    margin-left: 10%;
    background-color: #fff;
    /*border: 1px solid green;*/
}
.header {
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #1C4587;
    border: 3px solid black;
    font-size: 40pt;
}

.header_content {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
}
.content_container {
    min-height: 400px;
}
.content_article_container {
    display: inline-block;
    color: #000;
    width: 40%;
    padding-top: 2%;
    margin-left: 25%;
    margin-right: 10%
}
.content_article_title {
    border-top: 20px solid #CFE2F3;
    text-align: center;
    font-size: 30px;
    padding-top:10px;
}
.content_article_content {
    padding: 20px;
}
.content_sidebar_container {
    display: inline-block;
    width: 24%;
    vertical-align: top;
    padding-top: 80px;
}
.content_sidebar_item {
    color: #000;
}
.content_sidebar_item_title {
    font-size: 16pt;
    padding-left: 25px;
    padding-right: 25px;
}
.content_sidebar_item_content {
    font-size: 10pt;
    padding-left: 25px;
    padding-right: 25px;
}
.footer {
    background-color: #1C4587;
    border: 3px solid black;
    height: 100px;
    width: 100%;
    bottom: 0px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #4A86E8;
    text-align: center;
    vertical-align: center;
    color: #fff;
    font-weight: bold;
    line-height: 100px;
}