body {
    background-color: #222;
}
.darkbg {
    background-color: #555;
}
.lightbg {
    background-color: #eee;
}

.vcenter {
    text-align: center;
    padding-top: 10px;
}

.site-header {
    background-color: #1C4587;
    color: #eee;
    font-size: 40pt;
    border: 3px solid black;
    height: 100px;
}
.my-content-container {
    height: 600px;
    padding-top: 40px;
}
.article-header {
    border-top: 20px solid #CFE2F3;
    font-size: 25pt;
    text-align: center;
}
.article-content {
    padding: 10px 30px;
    font-size: 12pt;
}
.my-sidebar {
    margin-top: 50px;
}
.item-header {
    margin-top: 10px;
    font-size: 14pt;
    padding: 0 10px;
}
.item-content {
    font-size: 8pt;
    padding: 0 10px;
}

.my-img {
    background-color: #4A86E8;
    padding: auto;
    color: #eee;
    font-weight: bold;
    font-size: 14pt;
    text-align: center;
    line-height: 100px;
}